body {
	background-color: #292929;
	margin: 0;
}

#container {
	width: 100%;
	min-height: 600px;
}

#header {
	width: 100%;
	height: 40px;
}

#headercore {
	min-width: 1300px;
	width: 100%;
	height: 40px;
	margin: auto;
}

#headercore ul {
	margin: 0;
}

#headercore li {
	list-style-type: none;
	text-decoration: none;
	float: left;
}

#headercore li, #headercore a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	padding: 5px 15px;
	height: 30px;
	background: none;
	text-align: center;
}

#headercore a:hover {
	text-decoration: underline;
}

#headercore .current {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	padding: 5px 15px;
	height: 30px;
	background: url('images/current2.png') bottom no-repeat;
}

#clear1 {
	width: 100%;
	height: 5px;
	background-color: #FFFFFF;
}

#banner {
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
}

#bannercore {
	width: 1000px;
	height: 250px;
	margin: auto;
}

#bannercore h1 {
	font-size: 56px;
	margin: 0;
	color: #009900;
	text-shadow:3px 1px 3px rgba(61,108,0,0.7);
	font-weight: lighter;
}

#bannercore b {
	color: #999999;
	color:rgba(153,153,153,0.8);
	text-shadow:3px 1px 3px rgba(153,153,153,0.7);
}

#bannercore h2 {
	margin: 0;
	font-size: 34px;
	color: #333333;
	color: rgba(51,51,51,0.8);
	text-shadow:3px 1px 3px rgba(51,51,51,0.7);
}

#bannercoretop {
	height: 200px;
	width: 1000px;
}

#bannercorebottom {
	height: 50px;
	width: 1000px;
}

#bannercore h3 {
	margin: 0;
	font-style: italic;
	font-size: 26px;
}

span {
	color: #ad000b;
}

#content {
	min-height: 400px;
	width: 100%;
	background-color: #FFFFFF;
}

#contentcore {
	width: 80%;
	margin: auto;
	min-height: 400px;
}

#footer {
	width: 90%;
	height: 120px;
}

#footercore {
	width: 780px;
	height: 120px;
	margin: auto;
}

#contentcoretop {
	min-height: 250px;
	width: 80%;
}

#contentcoretop p {
	color: #000000;
	margin:10px;
}

#contentcoretop ul {
	margin: 0;
}

#contentcoretop h3 {
	margin: 0;
}

#contentcoretop a {
	color: #555;
}

img {
	border: none;
}